
// Dark Theme overwrite
/* For use in src/lib/core/theming/_palette.scss */
$mat-accent: (
    50 : #e9edf4,
    100 : #c8d3e3,
    200 : #a4b5d1,
    300 : #8097bf,
    400 : #6481b1,
    500 : #496ba3,
    600 : #42639b,
    700 : #395891,
    800 : #314e88,
    900 : #213c77,
    A100 : #b6cbff,
    A200 : #83a6ff,
    A400 : #5082ff,
    A700 : #3670ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #ffffff,
    )
);

$mat-primary: (
    50 : #f3f8fc,
    100 : #e2eef8,
    200 : #cfe2f4,
    300 : #bcd6ef,
    400 : #adceeb,
    500 : #9fc5e8,
    600 : #97bfe5,
    700 : #8db8e2,
    800 : #83b0de,
    900 : #72a3d8,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #eef6ff,
    A700 : #d4e9ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);




$mat-warn:  (
  50 : #fce9e7,
  100 : #f8c8c2,
  200 : #f3a49a,
  300 : #ee8072,
  400 : #eb6453,
  500 : #e74935,
  600 : #e44230,
  700 : #e03928,
  800 : #dd3122,
  900 : #d72116,
  A100 : #ffffff,
  A200 : #ffd6d4,
  A400 : #ffa6a1,
  A700 : #ff8d88,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #000000,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);

$dark-background: #40424f;


$dark-accent: mat.define-palette($mat-accent, 500, 200, 700);
$dark-primary:mat.define-palette($mat-primary,  500, 200, 700);
$dark-warn: mat.define-palette($mat-warn,  500, 200, 700);

$dark-theme: mat.define-dark-theme((
  color: (
    primary: $dark-primary,
    accent: $dark-accent,
    warn: $dark-warn,
  )

 ));
