
<bn-theme-background></bn-theme-background>

<div style="display: grid;grid-template-rows: 64px 1fr; height: 100vh;">


<mat-toolbar color="primary">

  <img style="height:40px"  src="../assets/sdk-core/binom.svg" />

    <span style="margin-left: 10px;"></span> 
    <span class="toolbar-spacer"></span> 
  <bn-translate-switch-menu></bn-translate-switch-menu>
  
   <bn-theme-switch-menu></bn-theme-switch-menu>

    <span style="font-size: 10px;font-weight: 100;">
      <i class="fas fa-at"></i>binom/sdk-theme 1.0.0 </span>

</mat-toolbar>

  <div >
    <router-outlet></router-outlet>
  </div>
</div>
