


.contact-form{
    background-color: whitesmoke !important;
}
.activeIcon i{
    color: $color-primary !important;
    text-shadow: 1px 1px 2px $color-accent;
}

.mat-mdc-paginator{
  background: transparent !important
}

.bn-table{
  background-color: white
}

.bn-table, .bnl-sidebarleft-usersroles{
  .content-bg{
      background-color: white
  }
  
}

.content-bg{
  background-color: rgba(255,255,255 ,0.7) ; 
  }

.centerCardSmall mat-card{
 border-radius: 20px
}

