
@if(useBg === 'wave'){
  <bn-bn-theme-bg-waves [color1]="color" [color2]="color2"></bn-bn-theme-bg-waves>
} @else if(useBg === 'stars'){
  <bn-bn-theme-bg-stars [color1]="color" [color2]="color2"></bn-bn-theme-bg-stars>
} @else if (useBg === 'carbon'){
  <bn-bn-theme-bg-image image="real-carbon-fibre.png" [color1]="color" [color2]="color2"></bn-bn-theme-bg-image>
} @else if (useBg === 'darkwood'){
  <bn-bn-theme-bg-image image="darkwood.jpg" [color1]="color" [color2]="color2"></bn-bn-theme-bg-image>
} @else if (useBg === 'image'){
  <bn-bn-theme-bg-image [image]="curVals.imageUrl" [color1]="color" [color2]="color2"></bn-bn-theme-bg-image>
} @else if (useBg === 'image'){
  <bn-bn-theme-bg-css-class [cssClass]="curVals.imageUrl"></bn-bn-theme-bg-css-class>
}